<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СoolSystems.org</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="/static/styles/mainPageStyle.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <h1 class="site-title">СoolSystems.org</h1>
        <a href="/CoolSystems" class="home-link">HOME</a>
    </header>

    <!-- Main Content -->
    <main class="main-content">
        <h2 class="section-title">Компоненты сервера</h2>
        
        <div class="header-right">
            <!-- Search Box -->
            <form action="/СoolSystems" method="GET" style="width: 100%; display: flex; justify-content: center; margin: 30px 0;">
                <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}" 
            style="width: 100%; height: 45px; background: #d9d9d9; border: none; border-radius: 12px; padding: 0 20px; font-size: 16px; color: #000;">
            </form>

            <div class="cart-icon">
                <a href="/CoolServerTask/1">
                    <img src="https://cdn-icons-png.flaticon.com/512/2972/2972233.png" alt="Корзина">
                    <span class="cart-count">2</span>
                </a>
            </div>
        </div>

        <!-- Components Grid -->
        <div class="components-grid">
            {{ range .Components }}
            <div class="component-card">
                <div class="component-image">
                    <img src="{{ .Image }}" alt="{{ .Title }}">
                </div>
                <div class="component-info">
                    <h3>{{ .Title }}</h3>
                    <p class="tdp">TDP: {{ .TDP }} Вт</p>
                    <div class="buttons-container">
                        <!-- Кнопка для корзины -->
                        <button class="apply-btn" >добавить</button>
                        <!-- Кнопка для перехода к описанию -->
                        <a href="/Component/{{ .ID }}" class="details-btn">подробнее</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p class="footer-title">СoolSystems.org</p>
        <p class="copyright">©2007–2025 – TDP CALC. RIP Ltd, RF</p>
        <p class="phone">+7 (496) 234–43–43</p>
    </footer>

    <script>
        function addToCart(componentId) {
            console.log('Добавление в корзину компонента:', componentId);
            // Здесь будет логика добавления в корзину
            alert('Компонент добавлен в заявку!');
        }
    </script>
</body>
</html>